.idea/
confs.txt
/src/jsonteste.py
/src/*.checkpoint.ipynb
__pycache__

# Coverage
.coverage
**/.coverage
Coverage
junit.xml
coverage.xml

# Tox
.tox

.vscode

trash
.venv
env

# analytics-raw-data
analytics-raw-data/

dist/
**/core.egg-info/
