# FIXME conflicting versions
# backports.functools-lru-cache==1.4
# cycler==0.10.0
# functools32==3.2.3.post2
# kiwisolver==1.0.1
# matplotlib~=3.3.2
# nltk==3.4
# numpy~=1.19.1
# pandas~=1.1.2
# pbr==5.1.1
# pyparsing==2.2.0
# python-dateutil==2.6.1
# pytz==2017.3
# scipy~=1.5.2
# singledispatch==3.4.0.3
# six==1.11.0
# stevedore==1.30.0
# subprocess32==3.2.7
# Unidecode==0.4.21
# virtualenv==16.2.0
# virtualenv-clone==0.5.0
# virtualenvwrapper==4.8.2

# tensorly~=0.4.5
# seaborn~=0.11.0
# urllib3~=1.26.3

flask
flask-restful
pandas
tensorly
requests
